/* debug */
body{
    background-color: blueviolet;
}
/* /debug */

/* general */
.rounded_max{
    border-radius: 15px;
}
/* /general */

/* header */

/* header-top */
.header_top{
    height: 30px;
    background-color: black;
}

.img_logo_container{
    width: 100px;
    height: 30px;
}




/* header-bottom */
.btn_search{
    
    background-color: white;
}

.btn_search img{
    width: 1.5rem;
}


/* nav */

/* /header */




/* main */

/* jumbotrone */
.jumbotrone{
    height: 85vh;

    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* games */
.games .game-img{
    width: 100px;
    height: 80px;
}



/* product */
.product_card{
    width: ;
}



/* hero */
.hero{
    height: 85vh;
    
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* /main */