/* debug */
body{
    background-color: blueviolet;
}
/* /debug */

/* header */

/* logo black bnner */
.logo_black_banner{
    height: 30px;
    background-color: black;
}

.img_logo_container{
    width: 100px;
    height: 30px;
}



/* nav */

/* /header */




/* main */

/* jumbotrone */
.jumbotrone{
    height: 85vh;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}
/* /main */